* {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: yellow;
}

.header h1 {
  color: red;
}

.header h2 {
  color: blue;
}

.main {
  background-color: greenyellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  height:400px;
  width:70%;
}

.buttons {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.btnLeft {
  background-color: dodgerblue;
}

.btnLeft:hover {
  cursor:pointer;
}

.btnRight {
  background-color: yellow;
}

.btnRight:hover {
  cursor:pointer;
}

.hiddenImages {
  display: none;
}

img {
  width: 100%;
  background-repeat: no-repeat;
}

.footer {
  background-color: pink;
  width: 100%;
}
