@media screen and (min-width : 320px){

  * {
    padding: 0px;
    margin: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 40px;
  }

  .header h1 {
    color: #333;
    align-self: flex-start;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 4em;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main h2 {
    font-family: 'Lobster', cursive;
    font-size: 3.3em;
    width: 80%;
    color: #333;
  }

  .main h3 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    width: 80%;
    padding-bottom: 30px;
    color: #333;
    padding-left: 50px;
  }

  .main p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #333;
    text-align: justify;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: 380px;
    margin-top: 50px;
    margin-bottom: 30px;
    /* margin-left: 15%; */
  }

  .links li {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 20px;
    border: 3px solid #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
  }

  .links a {
    color: #333;
    text-decoration: none;
  }

  .links a:hover {
    background-image: linear-gradient(to right, rgba(255,255,0, 0.8), rgba(255,255,102,0.4), rgba(173,255,47, 0.7));
  }

  .carousel {
    display: flex;
    height:600px;
    width:80%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #333;
  }

  .buttons {
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
  }

  .btnLeft {
    padding-right: 10px;
    background-color: #FFF;
    border: none;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 10em;
  }

  .btnRight {
    /* padding: 10px; */
    background-color: #FFF;
    border: none;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size:10em;
  }

  .hiddenImages {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer p {
    font-family:'Lobster', cursive;
    font-size: 2.6em;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 30px;
  }
}

@media screen and (min-width:768px){
}

/* @media screen and (min-width:1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 40px;
  }

  .header h1 {
    color: #333;
    align-self: flex-start;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 4em;
  }

  .header h2 {
    color: #000;
    align-self: flex-start;
    margin-left: 12%;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main h4 {
    font-family: 'Lobster', cursive;
    font-size: 2.3em;
    width: 70%;
    color: #333;
  }

  .main h5 {
    font-family: 'Lobster', cursive;
    font-size: 2.3em;
    width: 70%;
    padding-bottom: 30px;
    color: #333;
    padding-left: 50px;
  }

  .main p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    color: #333;
    text-align: justify;
    line-height: 1.5em;
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 15%;
  }

  .links li {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 3px solid #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
  }

  .links a {
    color: #333;
    text-decoration: none;
  }

  .links a:hover {
    background-image: linear-gradient(to right, rgba(255,255,0, 0.8), rgba(255,255,102,0.4), rgba(173,255,47, 0.7));
  }

  .carousel {
    display: flex;
    height:600px;
    width:70%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #333;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin-bottom: 20px;
  }

  .btnLeft {
    padding-right: 10px;
    background-color: #FFF;
    border: none;
    color: #ccc;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
  }

  .btnLeft:hover {
    cursor:pointer;
    color: #333;
  }

  .btnRight {
    background-color: #FFF;
    border: none;
    color: #ccc;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
  }

  .btnRight:hover {
    cursor:pointer;
    color: #333;
  }

  .hiddenImages {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer p {
    font-family:'Lobster', cursive;
    font-size: 1em;
    color: #333;
  }
} */
